/* Sp */

body {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.0em;
}

div,
a,
ul,
li {
    list-style: none;
    box-sizing: border-box;
}

a {
    color: #000;
}

a,
button,
.fab {
    text-decoration: none;
    transition: 0.5s all ease;
}

a:hover {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    object-fit: cover;
}

:focus,
:active,
button:focus,
button:active {
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}


/*----------------- Header -----------*/

.header {
    padding: 19px 0;
    font-size: 18px;
    border-bottom: 1px solid #C4C4C4;
}

.navigation {}

.nav li {
    margin-right: 20px;
    color: #000;
    opacity: 70%;
    margin-right: 35px;
}

.nav li:hover {
    text-shadow: 1px 0 0 currentColor;
}

.icons {}

.icons a {
    opacity: 50%;
    margin-left: 10px;
}

.icons a:hover {
    color: #30ABAE;
}

.offer {}


/* Carusel */

.offer-carusel {}

.carousel,
.carousel-inner {
    max-height: 100%;
    height: 675px;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    margin-right: 47px;
    margin-left: 3px;
    background-color: #000000;
    border-radius: 50%;
}


/* ------------------places-section------------------ */

.places-section {
    padding-top: 89px;
}

.places-title {
    margin-bottom: 35px;
}

.cards {}

.card {
    border: none;
}

.card_img {
    max-width: 342px;
    max-height: 157px;
    margin-bottom: 16px;
}

.card_title {
    padding-left: 23px;
}

.card_title span {
    opacity: 50%;
    margin-left: 35px;
}

.card_text {
    padding-left: 23px;
    max-width: 295px;
    opacity: 70%;
    /* position: relative; */
}

.card_text:before {
    content: '';
    border-left: 2px solid #ED8651;
    /* position: absolute; */
}


/* 0-576px xs mobil*/

@media screen and (max-width: 576px) {
    .header {
        height: 83px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .nav {
        display: none;
    }
}